.item {
    color: rgb(255, 255, 255);
    padding: 15px;
    position: relative;
}

.item img {
    width: 50px;
    border-radius: 50%;
}

.item span {
    /* margin: auto 0;
     */
    position: absolute;
    margin-top: 15px;
    padding-left: 15px;
}
