
.nav {
    grid-area: nav;
    background-color: rgb(34, 156, 195);
}

.item {
    color: aliceblue;
    padding: 8px;
}

.item a {
    /* color: aliceblue; */
    text-decoration: none;
    padding-left: 20px;
    color: #34495e;
    line-height: 1.2;
    position: relative;
    padding: 0 14px;
    text-transform: uppercase;
}

.item a:after {
    content: "";
    height: 100%;
    min-width: 4px;
    background: #34495e;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .5s;
}

.item a:hover:after {
    min-width: 100%;
    background: #95a5a6;
    opacity: .5;
}

.item a.active {
    color: black;
    min-width: 100%;
    background: #95a5a6;
    opacity: .75;
}
